---
import { Picture } from '@astrojs/image/components';
const { gallery } = Astro.props;
---

<section>
  <div class="grid grid-cols-4">
    {
      gallery.map((img: any) => {
        return (
          <div>
            <Picture
              src={img.sourceUrl}
              alt={img.altText}
              aspectRatio="1:1"
              widths={[500]}
              sizes="500px"
              format="webp"
              fit="cover"
              position="center"
            />
          </div>
        );
      })
    }
  </div>
</section>

<style>
  img:where(.astro-P3YD6C5R) {
    object-fit: contain;
  }
</style>
