---
const { gallery } = Astro.props;
console.log(gallery);
---

<section>
  <div class="grid grid-cols-4">
    {
      gallery.map((img: any) => {
        return (
          <div>
            <img
              src={img.sourceUrl}
              alt={img.altText}
              class=" aspect-square object-cover hover:"
            />
          </div>
        );
      })
    }
  </div>
</section>
