---
import Button from '../Buttons/Button.astro';
const { features, brochure } = Astro.props;
---

<div class="grid grid-cols-1 items-center gap-20 sm:grid-cols-2">
  <div class="">
    <p class="mb-2 text-2xl font-bold">Features:</p>
    <ul class="ml-4 list-disc text-xl">
      {
        features.map((f: any) => {
          return <li>{f.feature}</li>;
        })
      }
    </ul>
  </div>
  <div class="mx-auto flex max-w-[400px] flex-col gap-5">
    {
      !!brochure ? (
        <Button
          text="Download Full Brochure"
          href={brochure?.mediaItemUrl}
          blank
          large
        />
      ) : null
    }

    <Button text="View Standard Feature List" href="/models/#standard" large />
  </div>
</div>
