---
const { virtualTour } = Astro.props;
---

<section class="bg-grey-200 py-20">
  <div class="mx-auto max-w-[1000px]">
    <iframe src={virtualTour} class="aspect-video w-full" loading="lazy"
    ></iframe>
  </div>
</section>
