---
import Slider from './Slider.svelte';
const { header } = Astro.props;
---

<header>
  <div
    class="mx-auto grid max-w-[800px] grid-cols-1 gap-10 py-20 px-5 sm:gap-20 lg:max-w-[1400px] lg:grid-cols-2"
  >
    <div class="">
      <h1 class="mb-5 font-heading text-4xl font-bold">{header.heading}</h1>
      <div class="activity-header" set:html={header.body} />
    </div>
    <div class="">
      <Slider images={header.images} client:idle />
    </div>
  </div>
</header>
