---
const { main } = Astro.props;
---

<section>
  <div class="max-w-6xl mx-auto py-20 px-5">
    <div class="flex flex-col items-center">
      <h2 class="font-heading text-3xl font-bold mb-5">{main.heading}</h2>
      <div class="content-block" set:html={main.body} />
    </div>
  </div>
</section>
