---
const { content, title } = Astro.props;
---

<section>
  <div class="max-w-6xl mx-auto py-20 px-5">
    <div class="flex flex-col items-center">
      <h1 class="text-center font-bold font-heading text-4xl mr-auto mb-10">
        {title}
      </h1>
      <div class="content-block" set:html={content} />
    </div>
  </div>
</section>
