---
const { header } = Astro.props;
---

<header>
  <div
    style={`background-image:  linear-gradient(
      90deg,
      rgba(5, 5, 5, 0.2) 0%,
      rgba(0, 0, 0, 0.2) 100%
    ), url('${header.image.sourceUrl}')`}
    class="bg-center"
  >
    <div class="flex max-w-6xl mx-auto py-40 px-5">
      <h1
        class="font-heading text-white font-bold text-5xl sm:text-6xl text-shadow-lg drop-shadow-md leading-relaxed sm:leading-relaxed"
      >
        {header.heading}
      </h1>
    </div>
  </div>
</header>
