---
import Card from './Card.astro';
const { bungalowTownTris } = Astro.props;
---

<div class="section bg-grey-100">
  <div class="mx-auto flex flex-col items-center">
    <div class="w-full bg-green">
      <h2
        class="p-8 text-center font-heading text-2xl font-bold text-white sm:text-3xl"
      >
        Available Bungalow Town Tri
      </h2>
    </div>
    <div class="flex w-full max-w-[1200px] flex-wrap gap-10 py-20 px-5">
      {
        bungalowTownTris.mrHome.edges.map((model: any, i: number) => {
          if (model?.tags?.nodes[0] === 'sold') {
            return;
          } else {
            return (
              <div>
                <Card model={model} />
              </div>
            );
          }
        })
      }
    </div>
  </div>
</div>
