---
import { Image } from '@astrojs/image/components';
const { soldHome } = Astro.props;
---

<div class="max-w-[300px] rounded-2xl shadow-xl">
  <div class="relative">
    <Image
      src={soldHome.node.mrHomes.modelDetails.image.sourceUrl}
      alt={soldHome.node.mrHomes.modelDetails.image.altText}
      width={600}
      aspectRatio={4 / 2.8}
      format="webp"
      fit="cover"
      class="rounded-2xl"
    />
    <div
      class="absolute bottom-0 w-full rounded-b-2xl bg-black-100 bg-opacity-50 px-3 py-0.5"
    >
      <h3 class="font-heading text-lg font-bold text-white sm:text-xl">
        {soldHome.node.mrHomes.modelDetails.name.replace('The', '')}
      </h3>
      <p class="mb-1 text-sm text-white">
        Lot #{soldHome.node.mrHomes.modelDetails.lot} - {
          soldHome.node.mrHomes.modelDetails.address
        }
      </p>

      {
        soldHome.node.mrHomes.modelDetails.basement && (
          <p class="text-sm font-bold text-white">Includes Walkout Basement</p>
        )
      }
    </div>
    <div
      class="absolute top-0 left-0 z-10 h-full w-full rounded-2xl bg-white bg-opacity-60"
    >
      <div
        class="absolute top-1/2 left-1/2 w-[200px] -translate-x-1/2 -translate-y-1/2 -rotate-[25deg] rounded-2xl border-[6px] border-[#ff000082] p-3"
      >
        <p
          class="text-center text-5xl font-bold uppercase tracking-wider text-[#ff000082]"
        >
          SOLD
        </p>
      </div>
    </div>
  </div>
</div>
