---
import Main from '../Model/Main.astro';
import FooterGallery from '../Common/FooterGallery/FooterGallery.svelte';

const { model, gallery } = Astro.props;
---

<div class="">
  <Main model={model.models.modelDetails} />

  {
    model.models.loftedOption && (
      <Main model={model.models.loftedModelDetails} />
    )
  }
  <FooterGallery gallery={gallery} client:idle />
</div>
