---
import Layout from '../layouts/PageLayout.astro';
import Header from '../components/Inspirations/Header.astro';
import Section from '../components/Inspirations/Section.astro';

import { inspirationsPageQuery } from '../queries/pages/inspirations';
const data = await inspirationsPageQuery();
const seo = data.page.seo;
const header = data.page.inspirations.header;
const sections = data.page.inspirations.section;
---

<Layout seo={seo}>
  <Header header={header} />
  <div class="pb-10">
    {
      sections.map((s: any) => {
        return <Section section={s} />;
      })
    }
  </div>
</Layout>
