---
import Layout from "./BaseLayout.astro";
import Navbar from "../components/Common/Layout/Navbar.jsx";
import Footer from "../components/Common/Layout/Footer.astro";

import { navQuery, footerQuery } from "../queries/api";
const navMenus = await navQuery();
const primaryMenu = navMenus.menus.nodes[0];

const footerMenus = await footerQuery();
const footerMenu = footerMenus.menus.nodes[0];

const { title, seo } = Astro.props;
---

<Layout {title} {seo}>
  <Navbar menu={primaryMenu} client:load />
  <main class="main">
    <slot />
  </main>
  <Footer menu={footerMenu} />
</Layout>

<style>
  .main {
    margin: 0 auto;
    overflow-x: hidden;
  }
</style>
